<div class="col-md-8 offset-md-2">
    <h2 >Update Food Item</h2>
    <br>
        <form (ngSubmit) = "onSubmit(foodMenuType.value)">
            <div class ="form-group">
                <input type = "text" class="form-control" id = "foodMenuImage" 
                    [(ngModel)] = "addmenus.foodMenuImage" name = "foodMenuImage">
            </div>
            <br>
            <div class ="form-group">
                <input type = "text" class="form-control" id = "foodMenuItems" 
                    [(ngModel)] = "addmenus.foodMenuItems" name = "foodMenuItems">
            </div>
            <br>
            <div class ="form-group">
                <div class ="form-group">
                    <select id="foodMenuType" #foodMenuType  class="form-select" [(ngModel)] = "addmenus.foodMenuType" name = "foodMenuType" >
                        <option value="" disabled selected>Select a Food Type</option>
                        <option value="Veg">Veg</option>
                        <option value="Non-Veg">Non-Veg</option>
                      </select>
            </div>
            </div>
            <br>
            <div class ="form-group">
                <input type = "text" class="form-control" id = "foodMenuCost" 
                    [(ngModel)] = "addmenus.foodMenuCost" name = "foodMenuCost">
            </div>
            <br>
            <button class = "btn btn-success" type = "submit" id = "UpdateaddMenu" >SUBMIT</button>
        </form>
        
    </div>