<div class="back">
<div class="col-md-8 offset-md-2">
    <h2 >Add Food Item</h2>
    <br>
        <form (ngSubmit) = "onSubmit()">
            <!-- Url of the image is to be entered here -->
            <div class ="form-group">
                <input type = "text" class="form-control" id = "foodMenuImage" 
                    [(ngModel)] = "addmenu.foodMenuImage" name = "foodMenuImage" placeholder="Enter URL of image">
            </div>
            <br>
            <!-- Name of the foodmenu to be added is to be entered here -->
            <div class ="form-group">
                <input type = "text" class="form-control" id = "foodMenuItems" 
                    [(ngModel)] = "addmenu.foodMenuItems" name = "foodMenuItems" placeholder="Enter Name">
            </div>
            <br>
            <!-- Type/category of the foodmenu to be added is to be entered here -->
            <div class ="form-group">
                <input type = "text" class="form-control" id = "foodMenuType" 
                    [(ngModel)] = "addmenu.foodMenuType" name = "foodMenuType" placeholder="Enter Type">
            </div>
            <br>
            <!-- Cost of the foodmenu to be added is to be entered here -->
            <div class ="form-group">
                <input type = "text" class="form-control" id = "foodMenuCost" 
                    [(ngModel)] = "addmenu.foodMenuCost" name = "foodMenuCost" placeholder="Enter Cost">
            </div>
            <br>
            <!-- Submit button to add food menu -->
            <button class = "btn btn-success" type = "submit">SUBMIT</button>
        </form>
        
    </div>
</div>
    