<app-navbar-user></app-navbar-user>
<div class="bgimg" style=" background-image: url('assets/images/user-home-bg-img.jpg'); 
   background-size: 100%;  
    background-size: cover; 
    min-height: 1100px;
  ">
<div class="back rounded" >
    <!-- style="background-image: url("/assets/images/tt.jpeg.jpg");" -->
    <table class = "table table-striped table-hover table-primary">
        <thead class="thead-dark">
            <tr>
                <th >Event Name</th>
                <th>Event Date</th>
                <th >Event Time</th>
                <th>Event Cost </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="record" *ngFor = "let e of events">
               
                <td style="padding: 25px;"><strong>{{e.eventName}}</strong></td>
                <td style="padding: 25px;"><strong>{{e.eventDate.split('-').reverse().join('-')}}</strong></td>
                <td style="padding:25px;"><strong>{{e.eventTime}}</strong></td>
                <td style="padding: 25px;"><strong>{{e.eventCost}}</strong></td>
                <td style="padding:25px">
                    <button id="editBooking" class="btn btn-primary me-2" (click) = "updateEvent(e.eventId)">Edit &nbsp;
                        <i class="fa fa-pencil-square-o" aria-hidden="true" ></i>
                    </button>
                    <button id="deleteBooking" class="btn bg-danger text-white " (click)="deleteBookedEvent(e.eventId)"
                    data-bs-toggle="modal" data-bs-target="#showDelete">Delete&nbsp;
                        <i class="fa fa-trash" aria-hidden="true" ></i>
                    </button>
                   <!-- Button trigger modal -->&nbsp;
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">feedback&nbsp;
  <i class="fa fa-comments-o" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" id="textAreaExample" [(ngModel)]="e.review" rows="4"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="feedback(e)" data-bs-dismiss="modal">Submit

        </button>
      </div>
    </div>
  </div>
</div>
                </td>
            </tr>
        </tbody>
    </table></div>
</div>

<div class="modal fade"  id="showDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title col-11 text-center">Confirmation for Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this item?
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Yes, Delete</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Cancel</button>
        </div>
      </div>
    </div>
  </div>