
<div class = "form" >
    <form (ngSubmit) = "onSubmit()">
        <div class = "form-group col">
            <div class="w-25 p-2">
            <input class="form-control" type = "text" id = "addOnsName" 
                    [(ngModel)] = "newaddon.addOnName" name = "addOnName" placeholder="Enter name">
        </div>
        <div class="w-25 p-2">
            <input class="form-control" type = "text" id = "addOnsPrice" 
                    [(ngModel)] = "newaddon.addAddonPrice" name = "addAddonPrice" placeholder="Enter Price">
        </div>
        <div class="w-25 p-2">
            <input class="form-control" type = "text" id = "addOnsImageurl" 
                    [(ngModel)] = "newaddon.addonDescription" name = "addonDescription" placeholder="Enter URL of image">
        </div>
        <button class="btn btn-outline-success mt-2" id="addAddOns" type = "submit">SUBMIT</button>
        </div>
    </form>
</div>
<app-addon-home></app-addon-home>
    